{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Application</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--==============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="home_body">
    <div class="limiter">
        {%if car_details %}
            <div id="box">
                <i class="fa fa-first-order"></i> 
                {%if car_details.type == 'car' %}
                <h2>Car Details </h2>
                &nbsp;
                <div style="clear: both">
                    <h4 style="float: left;  color: #57b846">model: </h4> <h4 style="float: center">{{car_details.model}}</h4>
                </div>
                <hr />
                <div style="clear: both">
                    <h4 style="float: left;  color: #57b846">color: </h4> <h4 style="float: center">{{car_details.color}}</h4>
                </div>
                <hr />
                <div style="clear: both">
                    <h4 style="float: left;  color: #57b846">year: </h4> <h4 style="float: center">{{car_details.year}}</h4>
                </div>
                <hr />
                {%else%}
                <h2>Motorcycle Details </h2>
                &nbsp;
                <div style="clear: both">
                    <h4 style="float: left;  color: #57b846">model: </h4> <h4 style="float: center">{{car_details.model}}</h4>
                </div>
                <hr />
                <div style="clear: both">
                    <h4 style="float: left; color: #57b846">year: </h4> <h4 style="float: center">{{car_details.year}}</h4>
                </div>
                <hr />
                {%endif%}
                &nbsp;&nbsp;
                <a class="login100-form-btn" href="/home">Close</a>
            </div>
        {%endif%}
        
        {%if car_details %}
        <div class="row blurred">
            {%else%}
            <div class="row">
            {%endif%}
        

            <div class="col-xs-12 col-sm-12 col-lg-7 col-md-12 col-12 pb-5 pt-5">
                <h2 class= "h2-vehicles"> Vehicles Available : </h2>
                <form action = "" method = 'POST'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col-6 pb-5 pt-5">
                            <div class="jquery-multiple-select"> 
                                <!-- <p>
                                    Choose cars for your garage:
                                </p> -->
                                <ul>
                                    {% for cars in carlist %}
                                    <li>
                                        <div class="box-check row">
                                            <input type="checkbox" name='selected_cars' value={{cars.id}} id={{cars.id}}>
                                            <span class="check"></span>
                                            <label for={{cars.id}}>{{cars.model}}</label>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                                <select id="colors" name="colors" class="select-css" >
                                                    <option value="black">
                                                        Select a color
                                                      </option>
                                                    {% for color in colors %}
                                                        <option value={{color}}>{{color}}</option>
                                                    {%endfor%}
                                                </select>
                                        </div>
                                    </li>
                                    {%endfor%}
                                </ul>    
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col-6 pb-5 pt-5">
                            <div class="jquery-multiple-select"> 
                                <!-- <p>
                                    Choose motorcycle for your garage:
                                </p> -->
                                <ul>
                                {% for motorcycle in motorcyclelist %}
                                    <li>
                                        <div class="box-check row">
                                            <input type="checkbox" name = 'selected_motorcycles' value={{motorcycle.id}} id={{motorcycle.id}}>
                                            <span class="check"></span>
                                            <label for={{motorcycle.id}}>{{motorcycle.model}}</label>
                                        </div>
                                    </li>
                                {%endfor%}
                                </ul>
                            
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 col-12 pb-5 pt-5">
                            <button class="home-form-btn">
                                Add to Garage    
                            </button>
                        </div>
                    </div>
                    
                
                
                </form>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-5 col-md-12 col-12 pb-5 pt-5">
                <h2 class="h2-garage">Garage : </h2>
                &nbsp; &nbsp;
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 col-12 pb-5 pt-5">
                        {%if is_empty %}
                            <h3> {{user_garage}} </h3>
                        {% else %}
                            <form action = "infoAndDelete" method = 'POST'>
                                {% csrf_token %}
                                <table value={{vehicles.id}}>
                                    <thead>
                                        <th>Vehicle Type</th>
                                        <th>Vehicle Model</th>
                                        <th>Vehicle Details</th>
                                        <th>Delete Vehicle</th>
                                    </thead>
                                    <tbody>
                                        {%for vehicles in user_garage%}
                                        <tr>
                                            <td>{{vehicles.type}}</td>
                                            <td>{{vehicles.model}}</td>
                                            <td class='table-g-button'><button class='table-button' type = "submit" name="infobtn" value={{vehicles.id}} >get data</button></td>
                                            <td class='table-d-button'><button class='table-button' type = "submit" name="deletenbtn" value={{vehicles.id}}>delete</button></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </form>
                        {%endif%}
                    </div>
                </div>
            </div>
            

            
        </div>
    </div>
    




    
    <!--===============================================================================================-->	
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/select2/select2.min.js' %} "></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/tilt/tilt.jquery.min.js' %} "></script>
    <!--===============================================================================================-->
        <script src="{% static 'js/main.js' %} "></script>

</body>
</html>